.btn-edit-save {
    color: white;
    padding: 6px 5px;
    background: #55a6d3;
}

.color-picker {
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.color-button {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 140px;
    margin-bottom: 5px
}

.layers-navbar {
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}